* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(145deg, #f06, #ff9a9e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

header {
    margin-bottom: 30px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.company-name {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tagline {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.location,
.services {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

main {
    margin-top: 40px;
}

.address-text {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

a {
    color: #ff9a9e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.socials {
    margin-top: 10px;
}

.instagram {
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .company-name {
        font-size: 2.5rem;
    }

    .tagline {
        font-size: 1.5rem;
    }

    .location,
    .services {
        font-size: 1rem;
    }

    .address-text {
        font-size: 1.2rem;
    }
}
